.cart-label-row {
    padding-bottom: 30px;
    border-bottom: 1px solid #0c3f5c ;
    display: flex;
    padding-left: 15px;
}
.cart-product-row {display:flex; margin: 10px 0px 10px 15px;}
.cproduct-name {width: 40%;}
.cproduct-price {width: 15% ;}
.cproduct-quantity {width:15%;}
.cproduct-total {width: 15%;float: right;}
.cproduct-remove {
    width: 15px;
    padding: 3px 5px 5px 10px;
    font-size: smaller;
    font-weight: bold;
    color: brown; 
    background: #e0e0e0;
    border-radius: 50%;
    margin-left: 0px 5px 0px 10px;
}