.product {
    margin: 16px;
    width: 250px;
    border-radius: 2px;
    background-color: white;
    .product-image {
      max-width: 400px;
      min-height: 200px;
      max-height: 400px;
      overflow: hidden;
      img {
        width: 100%;
        cursor: zoom-in;
        transition: transform 300ms ease-in;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .product-name {
      font-size: 18px;
      font-weight: normal;
    }
    .product-price {
      font-size: 16px;
      font-weight: bold;
      &:before {
        content: "$";
      }
    }
    .product-name,
    .product-price {
      color: #5b676d;
      padding: 0 16px;
      text-align: center;
    }
    .add-cart-btn {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 20px;
      
    }
    &:hover {
      box-shadow: 3px 3px 6px rgba(61, 45, 45, 0.16), 3px 3px 6px rgba(92, 47, 47, 0.23);
    }
  }
  
  