.container {
    background: linear-gradient(#ffffff,#ffffff,#ffffff,#ffffff,#6dd5ed,#6dd5ed,#2193b0);
    padding: 7px 32px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    max-width:100%;
    margin: 0 auto;
    padding: 0 32px;
    height: 15%;
    }
.logo {
    padding-top: 10px;
    height: 30px;
}
.cart {
  display: flex;
  margin-left: 64px;
  position: relative;
  z-index: 99;
  left: 75%;
}
.icon {
  height: 30px;
  padding-top: 10px;
}

.cart-status {
  display: none;
  background: #ffffff;
  border: 1px solid #594186;
}
.cart-status.open {
  width: 450px;
  height: 400px;
  position: absolute;
  display: block;
  top: 50px;
  right: 0;
  z-index: 90;
  box-shadow: 3px 3px 6px rgba(61, 45, 45, 0.16), 3px 3px 6px rgba(92, 47, 47, 0.23);
}
